button {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    background-color: white;
    width: 100%;
    text-align: left;
}

button:hover {
    background-color: lightblue;
}

.cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.row {
    animation-name: move-up;
    animation-duration: 2s;
}

@keyframes move-up {
    0%   {position: inherit; margin-top: 100%;}
    100% {position: inherit; margin-top: 0;}
}