<h2 class="col-md-12">Registruotis</h2>
<div class="col-md-6 mx-auto border border-secondary mt-5 mb-5 p-3 pb-5">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="name">Vardas</label>
                <input type="text"
                       class="form-control"
                       formControlName="name"
                       id="name"
                       placeholder="Vardas"
                       required
                       [ngClass]="form.controls['name'].invalid && form.controls['name'].touched ? 'is-invalid' : ''">
                <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched" class="invalid-feedback">
                    Blogai įvestas vardas.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="email">El. pašto adresas</label>
                <input type="email"
                       class="form-control"
                       formControlName="email"
                       id="email"
                       placeholder="El. pašto adresas"
                       required
                       [ngClass]="(form.controls['email'].invalid && form.controls['email'].touched) ||
                       (emailExists && form.controls['email'].value === previousEmail) ? 'is-invalid' : ''">
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="invalid-feedback">
                    Įveskite tinkamą el. pašto adresą.
                </div>
                <div *ngIf="emailExists" class="invalid-feedback">Toks pašto adresas jau yra.</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="phone">Telefono numeris</label>
                <input type="number"
                       class="form-control"
                       formControlName="phone"
                       id="phone"
                       placeholder="Telefono numeris"
                       required
                       [ngClass]="form.controls['phone'].invalid && form.controls['phone'].touched ? 'is-invalid' : ''">
                <div *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched" class="invalid-feedback">
                    Įveskite tinkamą telefono numerį.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="password">Įveskite slaptažodį</label>
                <input type="password"
                       class="form-control"
                       formControlName="password"
                       id="password"
                       placeholder="Slaptažodis"
                       required
                       [ngClass]="form.controls['password'].invalid && form.controls['password'].touched || !passwordMatch ? 'is-invalid' : ''">
                <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched"
                     class="invalid-feedback">
                    Įveskite tinkamą slažodį (bent 8 raidės).
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="repeatPassword">Pakartokite slaptažodį</label>
                <input type="password"
                       class="form-control"
                       formControlName="repeatPassword"
                       id="repeatPassword"
                       placeholder="Pakartokite slaptažodį"
                       required
                       [ngClass]="form.controls['repeatPassword'].invalid && form.controls['repeatPassword'].touched || !passwordMatch ? 'is-invalid' : ''">
                <div *ngIf="form.controls['repeatPassword'].invalid && form.controls['repeatPassword'].touched"
                     class="invalid-feedback">
                    Įveskite tinkamą slaptažodį (bent 8 raidės).
                </div>
                <div *ngIf="!passwordMatch"
                     class="invalid-feedback">
                    Slaptažodžiai nesutampa.
                </div>
            </div>
        </div>

        <div class="float-right">
            <button type="button"
                    class="btn btn-primary"
                    (click)="register()">Registruotis
            </button>
            <button type="button"
                    class="btn btn-light"
                    (click)="cancel()">Atšaukti
            </button>
        </div>
    </form>
</div>

<div #registerModal id="registerSuccess" class="modal-background" [ngClass]="!showModal ? 'hide-modal' : ''">
    <div class="custom-modal">
        <h3>Registracija baigta</h3>
        <p>Galite prisijungti.</p>
        <div>
            <button class="btn btn-success" style="margin-left: 75px" routerLink="/login">Prisijungti</button>
        </div>
    </div>
</div>