<h2 class="col-md-12">Nauja knyga</h2>
<div class="col-md-6 mx-auto border border-secondary mt-5 mb-5 p-3 pb-5">
    <form [formGroup]="form">
        <div *ngIf="edit" class="row float-right">
            <div class="col-md-12 mb-3">
                <button class="btn btn-warning" type="button" (click)="onRemove()">Ištrinti</button>
            </div>
            </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="name">Knygos Pavadinimas</label>
                <input type="text"
                       class="form-control"
                       formControlName="name"
                       id="name"
                       placeholder="Pavadinimas"
                       required
                       [ngClass]="this.form.controls['name'].invalid && this.form.controls['name'].touched ? 'is-invalid' : ''">
                <div *ngIf="this.form.controls['name'].invalid && this.form.controls['name'].touched" class="invalid-feedback">
                    Įveskite knygos pavadinimą.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="author">Knygos autorius</label>
                <input type="text"
                       class="form-control"
                       formControlName="author"
                       id="author"
                       placeholder="Autorius"
                       required
                       [ngClass]="this.form.controls['author'].invalid && this.form.controls['author'].touched ? 'is-invalid' : ''">
                <div *ngIf="this.form.controls['author'].invalid && this.form.controls['author'].touched" class="invalid-feedback">
                    Įveskite knygos autorių.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="year">Leidimo metai</label>
                <input type="number"
                       class="form-control"
                       formControlName="year"
                       id="year"
                       placeholder="Metai"
                       required
                       [min]="0"
                       [max]="2017"
                       [ngClass]="this.form.controls['year'].invalid && this.form.controls['year'].touched ? 'is-invalid' : ''">
                <div *ngIf="this.form.controls['year'].invalid && this.form.controls['year'].touched" class="invalid-feedback">
                    Įveskite knygos leidimo metus.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="types">Knygos tipas</label>
                <select id="types"
                        class="custom-select d-block"
                        required
                        formControlName="type"
                        required
                        [ngClass]="this.form.controls['type'].invalid && this.form.controls['type'].touched ? 'is-invalid' : ''">
                    <option [value]="null" disabled>Pasirinkite tipą</option>
                    <option *ngFor="let type of types" [value]="type">{{ type }}</option>
                </select>
                <div *ngIf="this.form.controls['type'].invalid && this.form.controls['type'].touched" class="invalid-feedback">
                    Pasirinkite knygos tipą.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="city">Miestas</label>
                <select id="city"
                        class="custom-select d-block"
                        required
                        formControlName="city"
                        required
                        [ngClass]="this.form.controls['city'].invalid && this.form.controls['city'].touched ? 'is-invalid' : ''">
                    <option [value]="null">Pasirinkite miestą</option>
                    <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                </select>
                <div *ngIf="this.form.controls['city'].invalid && this.form.controls['city'].touched" class="invalid-feedback">
                    Pasirinkite miestą
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="pages">Puslapių skaičius</label>
                <input type="number"
                       class="form-control"
                       formControlName="pages"
                       id="pages"
                       placeholder="Puslapių skaičius"
                       required
                       [ngClass]="this.form.controls['pages'].invalid && this.form.controls['pages'].touched ? 'is-invalid' : ''">
                <div *ngIf="this.form.controls['pages'].invalid && this.form.controls['pages'].touched" class="invalid-feedback">
                    Įveskite knygos puslapių skaičių.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox"
                           class="custom-control-input"
                           formControlName="tradable">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Knyga galima keistis</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox"
                           formControlName="forSell"
                           class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Knyga parduodama</span>
                </label>
            </div>
        </div>

        <div *ngIf="form.controls.forSell.value" class="row">
            <div class="col-md-12 mb-3">
                <label for="price">Kaina</label>
                <input type="number"
                       class="form-control"
                       formControlName="price"
                       id="price"
                       placeholder="Kaina"
                       [ngClass]="this.form.controls['price'].invalid && this.form.controls['price'].touched ? 'is-invalid' : ''">
                <div *ngIf="this.form.controls['price'].invalid && this.form.controls['price'].touched" class="invalid-feedback">
                    Įveskite knygos kainą.
                </div>
            </div>
        </div>

        <div class="float-right">
            <button type="button"
                    class="btn btn-primary"
                    (click)="save()">{{ edit ? 'Išsaugoti' : 'Sukurti'}}
            </button>
            <button type="button"
                    class="btn btn-light"
                    (click)="cancel()">Atšaukti
            </button>
        </div>
    </form>
</div>