<h2 class="col-md-12">Prisijungti</h2>
<div class="col-md-6 mx-auto border border-secondary mt-5 mb-5 p-3 pb-5">
    <form [formGroup]="form">

        <div *ngIf="failedLogin" class="text-danger">
            Nepavyko prisijungti, bandykite dar kartą.
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="email">El. pašto adresas</label>
                <input type="email"
                       class="form-control"
                       formControlName="email"
                       id="email"
                       placeholder="El. pašto adresas"
                       required
                       [ngClass]="this.form.controls['email'].invalid && this.form.controls['email'].touched ? 'is-invalid' : ''">
                <div *ngIf="this.form.controls['email'].invalid && this.form.controls['email'].touched" class="invalid-feedback">
                    Įveskite tinkamą el. pašto adresą.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="password">Įveskite slaptažodį</label>
                <input type="password"
                       class="form-control"
                       formControlName="password"
                       id="password"
                       placeholder="Slaptažodis"
                       required
                       [ngClass]="this.form.controls['password'].invalid && this.form.controls['password'].touched ? 'is-invalid' : ''">
                <div *ngIf="this.form.controls['password'].invalid && this.form.controls['password'].touched" class="invalid-feedback">
                    Įveskite slaptažodį.
                </div>
            </div>
        </div>

        <div class="float-right">
            <button type="button"
                    class="btn btn-primary"
                    (click)="login()">Prisijungti
            </button>
            <button type="button"
                    class="btn btn-light"
                    (click)="cancel()">Atšaukti
            </button>
        </div>
    </form>
</div>